<nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item">GreenDrop</a>
    </div>
    <div class="navbar-menu">
      <a routerLink="/dashboard" class="navbar-item">Dashboard</a>
      <a routerLink="/fields" class="navbar-item">Fields</a>
      <a routerLink="/crops" class="navbar-item">Crops</a>
      <a routerLink="/irrigation" class="navbar-item">Irrigation</a>
      <a routerLink="/weather" class="navbar-item">Weather</a>
      <a routerLink="/settings" class="navbar-item">Settings</a>
      <div class="navbar-item">
        <img src="assets/user-avatar.png" alt="User" class="user-avatar">
      </div>
    </div>
  </nav>